root = true

# All files
[*]
indent_style = tab

[*.cs]

# Indentation and spacing
indent_size = 2
tab_width = 2

# Default severity for analyzer diagnostics with category 'Style' (escalated to build warnings)
dotnet_analyzer_diagnostic.category-Style.severity = warning

dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0058.severity = none